.navigationBar {
    z-index: 1;
    width: 100vw;
    position: fixed;
    top: 0;
    background: #001529;
}

.navigationBarLinks {
    width: 100%;
}

.navigationBarProfil {
    width: 145px;
    position: absolute;
    top: 7px;
    right: 0;
    display: flex;
    float: right;
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
}

@media (max-width: 620px) {
    .navigationBarLinks {
        width: fit-content;
    }
}

.navigationBarProfil > p {
    margin: 5px 10px 5px 0;
}

.navigationBarProfil:hover {
    color: rgba(255, 255, 255, 1);
}

.popoverContent > img {
    text-align: center;
    width: 50px;
    margin-bottom: 10px;
}

.popoverContent {
    text-align: center;
}

.login-form-button {
    width: 100%;
}
