.searchBarWorkshop {
    width: 50%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4px;
    max-width: 800px;
    margin: 8px auto 16px auto;
    width: calc(100vw - 32px);
}

.cards-container > div {
    width: 100%;
}
